@page
@model MembersModel
@{
    ViewData["Title"] = "Members";
}
<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        <li>Alam Sierra</li>
        <li>Emil Reynoso</li>
        <li>Fernando Gruning</li>
        <li>Jose Matos</li>
        <li>Paola Velazquez</li>
    </ul>
</div>
