@page
@using Models
@model CreateModel
@{
    ViewData["Title"] = "Create student";
}

<a href="./Index">Back</a>
<h1>@ViewData["Title"]</h1>

<form method="post" class="my-5">
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Student.Name" id="name" aria-describedby="name"
                value="Luis">
        </div>
    </div>
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" asp-for="Student.LastName" id="lastName" value="Perez">
        </div>
    </div>
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="birthDate" class="form-label">Birth Date</label>
            <input type="date" class="form-control" asp-for="Student.BirthDate" id="birthDate"
                aria-describedby="birthDate">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="genre" class="form-label">Genre</label>
            <input type="text" class="form-control" asp-for="Student.Genre" id="genre" aria-describedby="genre"
                value="M">
            <div asp-for="Student.EmailHelp" id="emailHelp" class="form-text">Only M and F are available</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Student.Email" id="email" aria-describedby="email"
                value="luis@test.com">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" asp-for="Student.PhoneNumber" id="phone" aria-describedby="phone"
                value="1234567890">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>
