@page
@using Models
@model CreateModel
@{
    ViewData["Title"] = "Create tutorial";
}

<a href="./Index">Back</a>
<h1>@ViewData["Title"]</h1>

<form method="post" class="my-5">
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" asp-for="Tutorial.Comment" id="comment" aria-describedby="comment">
        </div>
    </div>
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="duration" class="form-label">Duration</label>
            <input type="number" class="form-control" asp-for="Tutorial.Duration" id="duration">
        </div>
    </div>
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" asp-for="Tutorial.Price" id="price" aria-describedby="price">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="score" class="form-label">Score</label>
            <input type="number" class="form-control" asp-for="Tutorial.Score" id="score" aria-describedby="score">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control" asp-for="Tutorial.Status" id="status" aria-describedby="status">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label for="tutorId" class="form-label">Tutor ID</label>
            <input type="number" class="form-control" asp-for="Tutorial.TutorId" id="tutorId" aria-describedby="tutorId"
                value="1">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>
