@page "{id?}"
@using Models
@model TutorsEditModel
@{
    ViewData["Title"] = "Edit tutor";
}

<a href="../Index">Back</a>
<h1>@ViewData["Title"]</h1>

<form method="post" class="my-5" asp-route-itemid="currentTutor.ID">
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="currentTutor.Name">
        </div>
    </div>
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label class="form-label">Last Name</label>
            <input type="lastName" class="form-control" asp-for="currentTutor.LastName">
        </div>
    </div>
    <div class=" row mb-3">
        <div class="col-sm-5 col-md-6">
            <label class="form-label">Birth Date</label>
            <input type="date" class="form-control" asp-for="currentTutor.BirthDate">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label class="form-label">Genre</label>
            <input type="text" class="form-control" asp-for="currentTutor.Genre">
            <div id="emailHelp" class="form-text">Only M and F are available</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="currentTutor.Email">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" asp-for="currentTutor.Address">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-5 col-md-6">
            <label class="form-label">Status</label>
            <input type="text" class="form-control" asp-for="currentTutor.Status">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
